extends ./layout.jade
block content
  title ABCUSD CAC Information
  body(bgcolor='#A4E7EB')
    section.content
      #cacHeader.clearfix
        a(href='/')
          h1 Back to the Homepage⇨
        a(href='/')
          img#logo(src='/static/img/logo.png')
      #cacMain
        #officers
          .subBoxTopBar
            h2 CAC Board Members
          .contentBox
            #members
                each member in members
                  ul
                    each propertyName, property in member
                      li #{property}: #{propertyName} 
        #events
          .subBoxTopBar
            h2 Upcoming Events
          .contentBox
            #calender
              h3#eventInfo
                | Workshops
                br
                | 							2015-2016
                br
                | 							6:00 - 6:30 p.m. Pizza
                br
                | 							6:30 - 8:00 p.m. Presentation
              each event in events
                .event
                  h3 Date:
                  |#{event.date}
                  if ("title".length = 2)
                    h3 #{event.title[0]}
                    |#{event.title[1]}
                    h3 Location:
                    |#{event.location}
                  else
                    h3 #{event.title[0]}
                    h3 Location:
                    |#{event.location}
                