extends ./layout.jade
block content
  title ABCUSD Special Education Home Page
  body(bgcolor='#A4E7EB')
    section.clearfix
      #topBanner
        img(src='static/img/topBanner1.png')
      ul#mobileStaffList
        each staff in staffList
          li #{staff.a_AgentName} #{staff.b_AgentTitle} #{staff.c_AgentExtension} #{staff.d_Secretary} #{staff.e_SecretaryExtension} 
      #links
        a(href='/cac')
          #pHand CAC Info
        a(href='/parentresources')
          #pRec Parent Resources
        #sList Staff List
        #social
          img#socialBackground(src='/static/img/slashBackground.png')
          a(href='https://twitter.com/abcsupt', target='blank')
            img#twitter(src='/static/img/twitterType.png')
          a(href='https://www.facebook.com/abcUnifiedSchoolDistrict/', target='blank')
            img#facebook(src='/static/img/facebookLogoBlueBackground.png')
      #slideShow.slides
        div
          img(src='/static/artwork/clippedArt/show.png')
        div
          img(src='/static/artwork/clippedArt/aboveSide.png')
        div
          img(src='/static/artwork/clippedArt/believe.png')
        div
          img(src='/static/artwork/clippedArt/smile.png')
        div
          img(src='/static/artwork/clippedArt/sunset.png')
        div
          img(src='/static/artwork/clippedArt/wavesOf.png')
        div
          img(src='/static/artwork/clippedArt/window.png')